<div class="post-result" event-day="{{day}}" event-month="{{month}}" event-year="{{month}}" event-seriousness="{{seriousness}}">
  <div class="result-contents">
    <div class="result-info-container">
      <a href="#" class="result-poster">{{username}}</a> <span class="result-title">{{title}}</span>
    </div>
  </div>
</div>
